body{
    background-color: lightblue;
    margin: 0;
}

header{
    position: fixed;
    top: 0%;
    width: 100%;
    text-align: center; 
}

section{
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin: 10% 35% 0 35%;
}

#slide{
    margin-left: 26%;
}

.pic{
    height: 300px;
    top: 30%;
    margin-bottom: 2%;
}

#quote{
    height: 200px;
    width: 500px;
    top: 50%;
    border: 1px solid black;
    z-index: 1000;
}

.userBox{
    color: black;
    z-index: 5000;
}

.links{
    padding:  0 5px 0 5px;
    margin-left: 5px;
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
}